In [1]:
from io import StringIO

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
from sec_edgar_scraper import SecEdgarScraper

In [3]:
name = "Amey"
email = "kolheamey99@gmail.com"

headers = {
    "User-Agent": f"{name} {email}"
}

#https://www.sec.gov/Archives/edgar/data/1045810/000104581024000029/R9.htm
# init scraper object
sec_scraper = SecEdgarScraper(name, email)

In [4]:
ticker = "tsla"
cik = sec_scraper.get_cik_matching_ticker(ticker)
accession_number = "000095017023033872"

In [5]:
soup = sec_scraper.get_statement_soup(cik, accession_number, "income_statement")

table = soup.find("table")

INFO:root:Statement Link - https://www.sec.gov/Archives/edgar/data/0001318605/000095017023033872/R6.htm

In [6]:
df1 = pd.read_html(StringIO(str(table)))[0]

df1

  Consolidated Statements of Comprehensive Income (Unaudited) - USD ($)  $ in Millions  \
  Consolidated Statements of Comprehensive Income (Unaudited) - USD ($)  $ in Millions
0       Statement of Comprehensive Income [Abstract]
1                                         Net income
2                 Other comprehensive income (loss):
3            Foreign currency translation adjustment
4          Unrealized net (loss) gain on investments
5  Adjustment for net loss realized and included ...
6                               Comprehensive income
7  Less: Comprehensive (loss) income attributable...
8  Comprehensive income attributable to common st...

  3 Months Ended               6 Months Ended
   Jun. 30, 2023 Jun. 30, 2022  Jun. 30, 2023 Jun. 30, 2022
0            NaN           NaN            NaN           NaN
1        $ 2,614       $ 2,269        $ 5,153       $ 5,549
2            NaN           NaN            NaN           NaN
3          (184)         (421)           (54)         (517)
4            (5)           (6)              1          (14)
5              4             0              4             0
6           2429          1842           5104          5018
7           (89)            10           (63)          (28)
8        $ 2,518       $ 1,832        $ 5,167       $ 5,046

In [ ]:
resp2 = requests.get("https://www.sec.gov/Archives/edgar/data/1045810/000104581024000029/R9.htm", headers=headers)
soup2 = BeautifulSoup(resp2.content, "lxml")

table2 = soup2.find("table")

In [ ]:
df2 = pd.read_html(StringIO(str(table2)))[0]

df2

In [ ]:
resp3 = requests.get("https://www.sec.gov/Archives/edgar/data/1045810/000104581024000029/R9.htm", headers=headers)
soup3 = BeautifulSoup(resp3.content, "lxml")

table3 = soup3.find("table")

In [ ]:
df3 = pd.read_html(StringIO(str(table3)))[0]

df3

# Checking dict structure for different accession_numbers

## Ticker = nvda

In [ ]:
cik = sec_scraper.get_cik_matching_ticker("nvda")

accession_numbers = sec_scraper.get_filtered_filings(cik, "10-Q")


for accession_number in accession_numbers:
    print(accession_number)
    soup4 = sec_scraper.get_statement_soup(cik, accession_number, "balance_sheet")
    table4 = soup4.find("table")
    df4 = pd.read_html(StringIO(str(table4)))[0]
    
    df4_dict = df4.to_dict()
    for key,value in df4_dict.items():
        print(key, value, sep="\n", end="\n\n")

In [ ]:
cik = sec_scraper.get_cik_matching_ticker("nvda")

accession_numbers = sec_scraper.get_filtered_filings(cik, "10-Q")


for accession_number in accession_numbers:
    print(accession_number)
    soup4 = sec_scraper.get_statement_soup(cik, accession_number, "cash_flow_statement")
    table4 = soup4.find("table")
    df4 = pd.read_html(StringIO(str(table4)))[0]
    
    df4_dict = df4.to_dict()
    for key,value in df4_dict.items():
        print(key, value, sep="\n", end="\n\n")

In [ ]:
cik = sec_scraper.get_cik_matching_ticker("nvda")

accession_numbers = sec_scraper.get_filtered_filings(cik, "10-Q")


for accession_number in accession_numbers:
    print(accession_number)
    soup4 = sec_scraper.get_statement_soup(cik, accession_number, "income_statement")
    table4 = soup4.find("table")
    df4 = pd.read_html(StringIO(str(table4)))[0]
    
    df4_dict = df4.to_dict()
    for key,value in df4_dict.items():
        print(key, value, sep="\n", end="\n\n")

## Ticker = tsla

In [ ]:
cik = sec_scraper.get_cik_matching_ticker("tsla")

accession_numbers = sec_scraper.get_filtered_filings(cik, "10-Q")


for accession_number in accession_numbers:
    print(accession_number)
    soup4 = sec_scraper.get_statement_soup(cik, accession_number, "balance_sheet")
    table4 = soup4.find("table")
    df4 = pd.read_html(StringIO(str(table4)))[0]
    
    df4_dict = df4.to_dict()
    for key,value in df4_dict.items():
        print(key, value, sep="\n", end="\n\n")

In [ ]:
cik = sec_scraper.get_cik_matching_ticker("tsla")

accession_numbers = sec_scraper.get_filtered_filings(cik, "10-Q")


for accession_number in accession_numbers:
    print(accession_number)
    soup4 = sec_scraper.get_statement_soup(cik, accession_number, "cash_flow_statement")
    table4 = soup4.find("table")
    df4 = pd.read_html(StringIO(str(table4)))[0]
    
    df4_dict = df4.to_dict()
    for key,value in df4_dict.items():
        print(key, value, sep="\n", end="\n\n")

In [ ]:
cik = sec_scraper.get_cik_matching_ticker("tsla")

accession_numbers = sec_scraper.get_filtered_filings(cik, "10-Q")


for accession_number in accession_numbers:
    print(accession_number)
    soup4 = sec_scraper.get_statement_soup(cik, accession_number, "income_statement")
    table4 = soup4.find("table")
    df4 = pd.read_html(StringIO(str(table4)))[0]
    
    df4_dict = df4.to_dict()
    for key,value in df4_dict.items():
        print(key, value, sep="\n", end="\n\n")